@import './header.scss';
@import './navigation.scss';
@import './slider.scss';
@import './footer.scss';
@import './fonts.scss';

.font-test {
  font-family: 'Indie Flower', cursive;
}

.preview {
  display: block;
  margin: auto;
  width: 15%;
}